[class*="guilds-"].scroller {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

[class*="guilds-"].scroller > [class*="guild-"]:first-child,
[class*="guilds-"].scroller [class*="friendsOnline-"],
[class*="guilds-"].scroller [class*="dms-"],
[class*="guilds-"].scroller [class*="guildSeparator-"] {
  order: 1;
  flex: 0 calc(100% - 23px);
}

[class*="guilds-"].scroller [class*="dms-"] {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

[class*="guilds-"].scroller [class*="dms-"] [class*="guild-"] {
  flex: 0 50px;
  margin: 0 16px 8px 0 !important;
}

[class*="guilds-"].scroller [class*="guild-"]:first-child a {
  margin: auto;
}

[class*="guilds-"].scroller [class*="dms-"]:empty {
  margin: 0 !important;
}

[class*="guilds-"].scroller [class*="guild-"] {
  order: 4;
}

[class*="guildsWrapper-"] [class*="guilds-"] [class*="guild-"]
  + [class*="guild-"] {
  margin: 0;
}

[class*="guildsWrapper-"] [class*="guilds-"] [class*="guild-"],
[class*="guildsWrapper-"] [class*="guilds-"] [class*="guildsSeparator-"] {
  margin: 0 16px 8px 0 !important;
}

[class*="guildsWrapper-"] [class*="dms-"] [class*="guild-"]:last-child,
[class*="guildsWrapper-"] [class*="guilds-"] > [class*="guild-"]:first-child {
  margin: 0 !important;
}

[class*="guildsWrapper-"] [class*="guilds-"] [class*="guildsAdd-"] {
  margin: 0;
}

.nippit-hidetitlebar [class*="titleBar-"] {
  display: none;
}

.nippit-guild-unreadsecond [class*="guilds-"].scroller [class*="guild-"][class*="unread-"] {
  order: 3;
}

.nippit-guild-selectedfirst [class*="guilds-"].scroller [class*="guild-"][class*="selected-"] {
  order: 2;
}

.nippit-guild-scrollerwidth1 [class*="guildsWrapper-"] {
  width: 70px;
}
.nippit-guild-scrollerwidth1 [class*="guildsWrapper-"] .scroller-wrap {
  width: 88px;
}

.nippit-guild-scrollerwidth2 [class*="guildsWrapper-"] {
  width: 135px;
}
.nippit-guild-scrollerwidth2 [class*="guildsWrapper-"] .scroller-wrap {
  width: 158px;
}

.nippit-guild-scrollerwidth3 [class*="guildsWrapper-"] {
  width: 200px;
}

.nippit-guild-scrollerwidth3 [class*="guildsWrapper-"] .scroller-wrap {
  width: 228px;
}
