.guilds.scroller {
  display: flex;
  flex-wrap: wrap;
}

.guilds.scroller .guild:first-child,
.guilds.scroller .friends-online,
.guilds.scroller .dms,
.guilds.scroller .guild-separator {
  order: 1;
  flex: 0 calc(100% - 23px);
}

.guilds.scroller .guild:first-child a {
  margin: auto;
}

.guilds.scroller .dms:empty {
  margin: 0 !important;
}

.guilds.scroller .guild {
  order: 4;
}

.guilds-wrapper .guilds .guild + .guild {
  margin: 0;
}

.guilds-wrapper .guilds .guild,
.guilds-wrapper .guilds .guild-separator {
  margin: 0 16px 8px 0 !important;
}

.guilds-wrapper .guilds .guild:first-child {
  margin: 0 !important;
}

.guilds-wrapper .guilds .guilds-add {
  margin: 0;
}

.nippit-hidetitlebar [class*="titleBar-"] {
  display: none;
}

.nippit-guild-unreadsecond .guilds.scroller .guild.unread {
  order: 3;
}

.nippit-guild-selectedfirst .guilds.scroller .guild.selected {
  order: 2;
}

.nippit-guild-scrollerwidth1 .guilds-wrapper {
  width: 70px;
}
.nippit-guild-scrollerwidth1 .guilds-wrapper .scroller-wrap {
  width: 88px;
}

.nippit-guild-scrollerwidth2 .guilds-wrapper {
  width: 135px;
}
.nippit-guild-scrollerwidth2 .guilds-wrapper .scroller-wrap {
  width: 158px;
}

.nippit-guild-scrollerwidth3 .guilds-wrapper {
  width: 200px;
}

.nippit-guild-scrollerwidth3 .guilds-wrapper .scroller-wrap {
  width: 228px;
}
